.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subHeader {
  text-align: center;
  border-bottom: 1px solid #252525;
  margin: 6px 40px;
}

.filterBadges .badge {
  font-size: 1rem;
  cursor: pointer;
  background-color: #8ade98;
  color: #252525 !important;
}

.programImage div{
  background-color: #e4dfdf;
  text-align: center;
  padding: 20px 10px;
}

.badgeSelected{
  background-color: #28a745 !important
}

@media only screen and (max-width: 768px) {
  .programDetails {
    padding: 0px 10px;
  }
}